.service-container {

    background: linear-gradient(45deg, #000, #434343);

    .section {
        padding: 60px 0;
        overflow: clip;
    }

    .service {
        color: white;

        .section-title {
            padding-bottom: 60px;
            position: relative;
            margin-bottom: 20px;

            h2 {
                font-size: 14px;
                font-weight: 500;
                padding: 0;
                line-height: 1px;
                margin: 0 0 20px 0;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #aaaaaa;
                font-family: "Poppins", sans-serif;
                position: relative;

                &::after {
                    content: "";
                    width: 120px;
                    height: 1px;
                    display: inline-block;
                    background: #ff6b8b;
                    margin: 4px 10px;
                }

                &::after {
                    right: -60px;
                }
            }

            p {
                margin-bottom: 0;
            }

            span {
                margin: -15px 0 15px 0;
                font-size: 36px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
                color: #fff;
            }

        }

        .container {
            .service-item {
                text-align: center;
                background: rgba(204, 204, 204, 0.1);
                box-shadow: 0px 5px 90px 0px color-mix(in srgb, #ff6b8b, transparent 90%);
                padding: 80px 20px;
                transition: all ease-in-out 0.3s;

                &:hover {
                    transform: translateY(-5px);
                    background: linear-gradient(45deg, #ff6b8b, #ff8e53);

                    h3 {
                        color: black;
                    }

                    .icon {
                        background-color: #fff;
                    }

                    svg {
                        color: #ff8e53
                    }
                }

                .icon {
                    margin: 0 auto;
                    width: 64px;
                    height: 64px;
                    background: #ff8e53;
                    border-radius: 5px;
                    transition: all 0.3s ease-out 0s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                    transform-style: preserve-3d;
                }

                .icon ::before {
                    position: absolute;
                    content: "";
                    left: -8px;
                    top: -8px;
                    height: 100%;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.15);
                    border-radius: 5px;
                    transition: all 0.3s ease-out 0s;
                    transform: translateZ(-1px);
                }
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
            }

            .sevice-icon svg {
                font-size: 36px;
                transition: 0.5s;
                position: relative;
            }
        }

        a {
            text-decoration: none;
            transition: 0.3s;
        }

        h3 {
            font-weight: 700;
            margin: 10px 0 15px 0;
            font-size: 22px;
            color: #ff6b8b;
        }
    }
}