.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.letter {
    font-size: 5rem;
    font-weight: bold;
    color: transparent;
    animation: colorFill 3s forwards;
    margin: 0 0.5rem;
}

.letter:nth-child(1) {
    animation-delay: 0.5s;
}

.letter:nth-child(2) {
    animation-delay: 1s;
}

@keyframes colorFill {
    0% {
        color: transparent;
    }

    100% {
        color: #ff6b8b;
    }
}